<%= provide :title, t("title.home") %>
<div class="center jumbotron">
  <h1><%= t "title.welcome_to_project" %></h1>
  <%= link_to t("signup_now"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
